*{
margin:0;
padding:0;
}

header{
background-color:blue;
height:10vh;
}

main{
backgroun-color:yellow;
height:80vh;
display:flex;
justify-content:space-around;
align-items:center;
}

footer{
background-color:green;
height:10vh;
}

section{
background-color:pink;
height:30vh;
width:30vh;
justify-content:space-around;
display:flex;
}
